<!DOCTYPE html>

{% load staticfiles %}

<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Rango_About</title>
</head>
<body>
    <div>
        <strong>THE HIP-FLEXOR EXERCISE</strong><br>
        <h4>THIS TUTORIAL HAS BEEN PUT TOGETHER BY HARUTO</h4>
        <img src="{% static "images/i2.png" %}"><br>
        <img/><h5>HERE IS THE cat !!!</h5><br>
        <img src="{{ MEDIA_URL }}cat.jpeg"/><br>
        <strong><a href="/rango/">BACK_TO_INDEX</a></strong>
    </div>
</body>
</html>