<!DOCTYPE html>
{% load staticfiles %}

<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Rango_Index</title>
</head>
<body>
    <h1>Rango says...</h1>
    <div>
        Hey there partner ! <br>
        <strong>{{ boldmessage }}</strong><br>
    </div>
    <div>
        <a href="/rango/about/">About</a><br>
        <img src="{% static "images/i1.png" %}"
            alt="Picture of USAIN BOLT"/>
    </div>
    <div>
        <img/>HARUTO THE DANCING WIZARD's WILL
        <img src="{{ MEDIA_URL }}H.jpg"/>
    </div>
</body>
</html>
